@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Empréstimo de livros online</h1>

    <p>"Ao ter acesso a novos livros, as pessoas podem ser incentivadas a ler, expandindo seu universo de conhecimento e lazer."</p>
    <div>
        <img src="/img/conhecimento.png"/>
    </div>
</div>
