@if (TempData["MenssagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MenssagemSucesso"]
    </div>
}
@if (TempData["ErroMenssagem"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["ErroMenssagem"]
    </div>
}

<div class="container bg-light  p-5 rounded-5">
    <form>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" class="form-control" id="Email1">
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="Senha">
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-25 mx-2">Entrar</button>
            <a class="btn w-25 "asp-controller="Login" asp-action="Registrar">Cadastra-se</a>
        </div>

    </form>
</div>